* {
    margin: 0;
    padding: 0;
}

span , b , a , i {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
}
a {
    text-decoration: none;
}
ul li {
    list-style: none;
}
html , body {
	font-size: 62.5%;
	font-family: "微软雅黑";
	background: #eee;
}
.mine {
	margin-bottom: 5rem;
}
.mine header {
	width: 100%;
	height: 3.6rem;
	font-size: 1.8rem;
	background: #3492e9;
	color: #fff;
	line-height: 3.75rem;
	display: flex;
	position: fixed;
	left: 0;
	top: 0;
}
.mine header i {
	width: 15%;
	background-size: 1.8rem;
	background-position: center;
	background-repeat: no-repeat;
}
.mine header b {
	width: 70%;
	text-align: center;
}
.mine header i:first-child {
	background-image: url(../img/ling.png);

}
.mine header i:nth-child(3) {
	background-image: url(../img/set.png);
}
.mine main {
	margin-top: 3.6rem;
}
.mine .accountInformation {
	width: 100%;
}
.mine .accountInformation a {
	width: 100%;
	background: #3492E9;
	display: flex;
	color: #fff;
}
.mine .accountInformation i {
	height: 8rem;
}
.mine .accountInformation i:first-child {
	background: url(../img/headPortrait.png) no-repeat center 1.5rem;
	width: 28%;
	border-radius: 50%;
	background-size: 5rem;
}
.mine .accountInformation i:nth-child(2) {
	width: 60%;
	line-height: 2rem;
}
.mine .accountInformation i:nth-child(2) .userName {
	font-size: 1.8rem;
	margin-top: 2rem;
}
.mine .accountInformation i:nth-child(2) .phoneNumber {
	background: url(../img/phone.png) no-repeat left center;
	background-size: 1rem;
	padding-left: 1.5rem;
	font-size: .8rem;
}
.mine .accountInformation i:nth-child(3) {
	width: 12%;
	background: url(../img/mine-to-right.png) no-repeat center;
	background-size: .8rem;
	
} 
.mine main .nav_list {
	width: 100%;
	display: flex;
}
.mine main .nav_list span {
	width: 33%;
	border-right: 1px solid #ddd;
	background: #fff;
	text-align: center;
	height: 4rem;
	padding-top: 1rem;
	line-height: 1.5rem;
	color: #949494;
}
.mine main .nav_list span p:first-child {
	line-height: 2rem;
}
.mine main .nav_list span p:first-child b {
	font-size: 2rem;
}
.mine main .nav_list span:nth-child(1) p:first-child {
	color: #ff9900;
}
.mine main .nav_list span:nth-child(2) p:first-child {
	color: #ff5f3e;
}
.mine main .nav_list span:nth-child(3) p:first-child {
	color: #6ac20b;
}

.mine main .nav_list span:nth-child(3) {
	border: none
}
.mine main .tab_list {
	width: 100%;
}
.mine main .tab_list ul {
	width: 100%;
}
.mine main .tab_list ul li {
	width: 88%;
	background: #fff;
	padding-left: 12%;
	background-repeat: no-repeat;
	background-position: 1rem center;
	background-size: 1.7rem;
}
.mine main .tab_list ul li a {
	width: 100%;
	border-bottom: 1px solid #ddd;
	color: black;
	line-height: 4rem;
	background: url(../img/mine-tabList-goRight.png) no-repeat 95% center;
	background-size: .7rem;
	font-size: 1.7rem;
}
.mine main .tab_list ul .margin_top {
	margin-top: 1rem;
}
.mine main .tab_list ul li .border_none {
	border: none;
}
.mine main .tab_list ul li:nth-child(1) {
	background-image: url(../img/mine_list_1.png);
}
.mine main .tab_list ul li:nth-child(2) {
	background-image: url(../img/mine_list_2.png);
}
.mine main .tab_list ul li:nth-child(3) {
	background-image: url(../img/mine_list_3.png);
}
.mine main .tab_list ul li:nth-child(4) {
	background-image: url(../img/mine_list_4.png);
}
.mine main .tab_list ul li:nth-child(5) {
	background-image: url(../img/mine_list_5.png);
}
.mine main .tab_list ul li:nth-child(6) {
	background-image: url(../img/mine_list_6.png);
}
.mine main .tab_list ul li:nth-child(7) {
	background-image: url(../img/mine_list_7.png);
}
.mine main .tab_list ul li:nth-child(8) {
	background-image: url(../img/mine_list_8.png);
}
.mine main .tab_list ul li a i {
	float: right;
	margin-right: 10%;
	color: #999;
}
