* {
    margin: 0;
    padding: 0;
}

span , b , a , i {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
}
a {
    text-decoration: none;
}
ul li {
    list-style: none;
}
html , body {
	font-size: 62.5%;
	font-family: "微软雅黑";
	background: #eee;
}

.find header {
	width: 100%;
	height: 3.6rem;
	font-size: 1.8rem;
	background: #3492e9;
	color: #fff;
	line-height: 3.6rem;
	text-align: center;
	position: fixed;
	left: 0;
	top: 0;
}

.find main {
	margin-top: 3.6rem;
	margin-bottom: 5rem;
}
.find main .elseBox {
	background: #fff;
	display: flex;
}
.find main .elseBox .box {
	padding: 2rem 0 0 2rem;
	background-size: 4.5rem;
	background-repeat: no-repeat;
	background-position: 90% 2rem; 
}
.find main .elseBox .else_shop {
	border-right: 1px solid #ddd;
	width: 40%;
	height: 14rem;
	background-image: url(../img/fx_img.png);
	background-position: center 70%;
	background-size: 6rem;
}
.find main .elseBox .else_right {
	width: 60%;
}
.find main .elseBox .box a {
	width: 100%;
	height: 100%;
}
.find main .elseBox .box h3 {
	font-weight: 400;
	font-size: 2rem;
	color: black;
}
.find main .elseBox .box p {
	color: #999;
	margin-top: .3rem;
	font-size: 1.4rem;
}
.find main .elseBox .else_right .recommend {
	background-image: url(../img/fx_img2.png);
	padding-bottom: 2rem;
	border-bottom:  1px solid #ddd;
}
.find main .elseBox .else_right .gameCenter {
	background-image: url(../img/fx_img3.png)
}
.find main .findTab {
	background: #fff;
	margin-top: 1rem;
	padding: 5% 2%;
}
.find main .findTab .title {
	text-align: center;
}
.find main .findTab .title h3 {
	font-size: 2.4rem;
	background: url(../img/find_title.png) no-repeat center center;
	background-size: 50% 60%;
	line-height: 3.5rem;
	height: 3.5rem;
}
.find main .findTab .title h3::before {
	content: "";
	display: inline-block;
	width: 2rem;
	height: 2rem;
	background-size: 2rem;
	background-position: center;
	background-repeat: no-repeat;
	margin-right: .5rem;
	vertical-align: middle;
}
.find main .daySale .title h3::before {
	background-image: url(../img/fx_title1_img.png);
}
.find main .guessYouLike .title h3::before {
	background-image: url(../img/fx_title2_img.png);
}
.find main .nearTheRecommended .title h3::before {
	background-image: url(../img/fx_title3_img.png);
}
.find main .findTab .title p {
	color: #999; 
	font-size: 1.4rem;
}
.find main .findTab .shop_list {
	display: flex;
	padding: 2%;
	justify-content: space-around;
}
.find main .findTab .shop_list .shop_one {
	width: 30%;
}
.find main .findTab .shop_list .shop_one span {
	width: 100%;
	height: 8rem;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}
.find main .daySale .shop_list .day_shop_1 span {
	background-image: url(../img/find_shop_day_1.jpeg);
}
.find main .daySale .shop_list .day_shop_2 span {
	background-image: url(../img/find_shop_day_2.jpeg);
}
.find main .daySale .shop_list .day_shop_3 span {
	background-image: url(../img/find_shop_day_3.jpeg);
}
.find main .findTab .shop_list .shop_one span i {
	background: #413d3c;
	color: #fff;
	padding: 1% 2%;
}
.find main .findTab .shop_list .shop_one .shop_name {
	color: #000000;
	line-height: 4rem;
	font-size: 1.4rem;
}
.find main .findTab .shop_list .shop_one .shop_price b {
	color: #ffa168;
	font-size: 1.4rem;
	margin-right: .5rem;
}
.find main .findTab .shop_list .shop_one .shop_price i {
	color: #aaaaaa;
	text-decoration: line-through;

}
.find main .findTab .go_all {
	font-size: 1.8rem;
	color: #bfbfbf;
	text-align: center;
	width: 100%;
	line-height: 3rem;
}
.find main .findTab .go_all:after {
	content: "";
	display: inline-block;
	width: 2rem;
	padding-top: 3rem;
	background: url(../img/find_shop_goAll.png) no-repeat center 40%;
	background-size: .75rem;
	vertical-align: middle;
}
.find main .guessYouLike .shop_list .day_shop_1 span {
	background-image: url(../img/find_shop_like_1.jpeg);
}
.find main .guessYouLike .shop_list .day_shop_2 span {
	background-image: url(../img/find_shop_like_2.jpeg);
}
.find main .guessYouLike .shop_list .day_shop_3 span {
	background-image: url(../img/find_shop_like_3.jpeg);
}
.find main .flashGifts .shop_list .day_shop_1 span {
	background-image: url(../img/find_shop_gist_1.jpg);
}
.find main .flashGifts .shop_list .day_shop_2 span {
	background-image: url(../img/find_shop_gist_2.jpg);
}
.find main .flashGifts .shop_list .day_shop_3 span {
	background-image: url(../img/find_shop_gist_3.jpg);
}
.find main .findTab .nearOne {
	background : url(../img/headPortrait.png) no-repeat 1rem 1rem;
	background-size: 3rem;
	padding-left: 5rem; 
}
.find main .findTab .nearOne .near_top {
	line-height: 1.7rem;
	padding-top: 1rem;
}
.find main .findTab .nearOne .near_top p:first-child {
	display: flex;
	justify-content: space-between;
}
.find main .findTab .nearOne .near_top p:first-child i:nth-child(1):after {
	content: "附近的人";
	padding: 0 .2rem;
	color: red;
	border: 1px solid red;
	margin-left: .5rem;
}
.find main .findTab .nearOne .near_top p:first-child i:nth-child(2) {
	color: red;
}
.find main .findTab .nearOne .near_top p:first-child i:nth-child(2):before {
	content: "";
	display: inline-block;
	width: 1rem;
	height: 1rem;
	background: url(../img/find_nearTop_img.png) no-repeat center;
	vertical-align: middle;
	background-size: 1.5rem;
	margin-right: .5rem;
}
.find main .findTab .nearOne .near_top p:first-child i:nth-child(2):after {
	content: "跟单";
	color: #333;
}
.find main .findTab .nearOne .near_top p:nth-child(2) {
	color: #999;
	padding-left: 20%;
	background: url(../img/starts5.png) no-repeat left center;
	background-size: 20% 75%;
	vertical-align: middle;
}
.find main .findTab .nearOne .near_top p:nth-child(3) {
	color: #999;
	margin-bottom: 1rem;
}
.find main .findTab .nearOne .near_bottom {
	background: #f9f9f9;
	padding: 4%;
}
.find main .findTab .nearOne .near_bottom .near_img {
	display: flex;
}
.find main .findTab .nearOne .near_bottom .near_img span {
	width: 31%;
	margin-right: 2%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	height: 8rem;
	position: relative;
}
.find main .findTab .nearOne .near_bottom .near_img span:nth-child(1) {
	background-image: url(../img/find_shop_near_1.jpeg);
}
.find main .findTab .nearOne .near_bottom .near_img span:nth-child(2) {
	background-image: url(../img/find_shop_near_2.jpeg);
}
.find main .findTab .nearOne .near_bottom .near_img span i {
	position: absolute;
	right: 0;
	top: 0;
	background: black;
	color: #fff;
	padding: 0 .3rem;
}
.find main .findTab .nearOne .near_bottom .near_img span b {
	color: #fff;
	font-weight: 500;
	position: absolute;
	left: 0;
	bottom: 0;
	line-height: 2rem;
	text-indent: .5rem;
	box-shadow: inset #555 0 -1rem 1rem; 
	width: 100%;
}
.find main .findTab .nearOne .near_bottom .near_word span p:first-child {
	font-size: 1.6rem;
	color: #666666;
	margin-top: 1.5rem;
	font-weight: 600;
}
.find main .findTab .nearOne .near_bottom .near_word {
	display: flex;
	justify-content: space-between;
}
.find main .findTab .nearOne .near_bottom .near_word span p:first-child b {
	color: red;
	margin-left: .5rem;
}
.find main .findTab .nearOne .near_bottom .near_word span p:nth-child(2) {
	color: #777;
}
.find main .findTab .nearOne .near_bottom .near_word button {
	width: 25%;
	height: 3rem;
	border: 1px solid #3492E9;
	color: #3492E9;
	background: #F9F9F9;
	font-size: 1.5rem;
	margin-top: 1rem;
}



